{{#extend "default"}} {{#content "main"}}

<!-- Introduction -->
<div class="intro section" id="about">
    <div class="container">
        <p>{{about.title}}</p>
        <div class="units-row units-split wrap">
            <div class="unit-20">
                <img src="{{about.image}}" alt="Avatar">
            </div>
            <div class="unit-80">
                <h1>{{about.name}}<br><span id="typed"></span></h1>
            </div>
            <p>
                {{about.description}}
            </p>
        </div>
    </div>
</div>

<!-- Work Experience -->
<div class="work section second" id="experiences">
    <div class="container">
        <h1>{{{experience.title}}}</h1>
        {{#each experience.items}}
        <ul class="{{class}}">
            <li>{{title1}}</li>
            <li><a href="{{url}}">{{title2}}</a></li>
            <li>{{title3}}</li>
        </ul>
        {{/each}}


    </div>
</div>

<!-- Award & Achievements -->
<div class="award section second" id="achievements">
    <div class="container">
        <h1>{{{achievements.title}}}</h1>
        {{#each achievements.items}}
        <ul class="{{class}}">
            <li>{{title1}}</li>
            <li>{{title2}}</li>
            <li>{{title3}}</li>
        </ul>
        {{/each}}

    </div>
</div>



<!-- Technical Skills -->
<div class="skills section second" id="skills">
    <div class="container">
        <h1>{{{achievements.title}}}</h1>
        {{#each achievements.items}}
        <ul class="{{class}}">
            <li>{{title1}}</li>
            <li>{{title2}}</li>
        </ul>
        {{/each}}


    </div>
</div>

<!-- Quote -->
<div class="quote">
    <div class="container text-centered">
        <h1>{{quote.title}}</h1>
    </div>
</div>
{{/content}} {{/extend}}