<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8" />
    <title>{{global.title}}</title>
    <base href="{{global.url}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Draco is free PSD &amp; HTML template by @flamekaizar">
    <meta name="author" content="Afnizar Nur Ghifari">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/kube.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/custom.min.css" />
    <link rel="shortcut icon" href="img/favicon.png" />
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display+SC:700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <style>
        .intro h1:before {
            /* Edit this with your name or anything else */
            content: 'DRACO';
        }
    </style>
</head>

<body>
    <!-- Navigation -->
    <div class="main-nav">
        <div class="container">
            <header class="group top-nav">
                <div class="navigation-toggle" data-tools="navigation-toggle" data-target="#navbar-1">
                    <span class="logo">{{menu.title}}</span>
                </div>
                <nav id="navbar-1" class="navbar item-nav">
                    <ul>
                        {{#each menu.items}}
                        <li class="{{class}}"><a href="{{url}}">{{title}}</a></li>
                        {{/each}}

                    </ul>
                </nav>
            </header>
        </div>
    </div>